/*----------------------General------------------------*/
a:not(.ressource-element) {
    color: white;
    text-decoration: none;
    padding-bottom: 0;
    overflow: hidden; /* Ensures content outside the <a> element is clipped */
    position: relative; /* Makes <a> the containing block for ::after */
    display: inline-block; /* Ensures the <a> element has a proper box model */
    text-transform:uppercase
}

a:not(.ressource-element)::after {
    content: "";
    display: block;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0; /* Position it at the bottom of the <a> element */
    left: 0; /* Start at the left edge */
    transition: transform 0.3s ease; /* Use transform for smoother animations */
}

a:hover {
    cursor: pointer;
}

a:not(.ressource-element):hover::after {
    transform: translateX(120%); /* Move the pseudo-element completely outside the <a> element */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the parent elements have a height of 100% */
}

canvas {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#cursor {
    position: fixed;
    display: none;
    z-index: 20;
    pointer-events: none; /* Prevent the cursor from blocking events */
}

#cursor img {
    max-width: 200px;
}

.ressource-link {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: underline;
    color: #8A2387;
}

.ressource-link:hover {
    cursor: pointer;
}

#definitionContainer {
    position: fixed;
    display: none;
    z-index: 20;
    pointer-events: none; /* Prevent the cursor from blocking events */
    background-color: white;
    color: #000000;
    text-align: center;
    border-radius: 81% 19% 82% 18% / 0% 100% 0% 100%;
    padding: 5px 15px;
}

#definition-text {
    max-width: 350px;
    font-style: italic;
}

.mot-definition {
    color: #8A2387;
    font-style: italic;
}

/*----------------------Popup-----------------------*/
#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /*Header à 5*/
    background-color: #000000d7;
    width: 100%;
    height: 100%;
    display: none;
}

#popup {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 15px 0px;
    max-width: 500px;
}

#popup-content {
    padding: 5px 10px;
}

#popup-image {
    border-radius: 2.5%;
    width: 100%;
    height: auto;
}

#close-button {
    z-index: 15;
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 10px; /* Distance from the top of the container */        
    right: 10px; /* Distance from the right of the container */
    transform: none; /* Remove centering transformation */
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    width: 100px;
}

#close-button::before,
#close-button::after {
    background-color: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
}

#close-button::before {
    top: 0;
    transform: rotate(45deg);
}

#close-button::after {
    bottom: 0;
    transform: rotate(-45deg);
}

#close-button:hover {
    color: #8A2387;
}

#close-button:hover::before,
#close-button:hover::after {
    height: 50px;
    transform: rotate(0deg);
}

/*----------------------Boutons Navigation----------------------*/
#button-container {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 15px;
    gap: 5px;
    z-index: 7;
    background-color: transparent;
}

#button-container div {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 4px solid rgb(68, 0, 114);
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

#button-container div:hover {
    border: 3px solid rgb(68, 0, 114);
    background-color: rgb(68, 0, 114);
    cursor: pointer;
}

/*----------------------Menu--------------------------*/
#headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
    gap: 20px;
}

.left-header-container, .right-header-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-title-container {
    width: 100%;
}

.right-header-container {
    padding: 10px;
}

#logo {
    height: 150px;
    width: auto;
}

#logo:hover {
    cursor: pointer;
}

#headerContainer h1 {
    font-size: 2em;
    margin: 0px;
    text-decoration: underline;
}

.right-header-container p {
    font-style: italic;
    font-size: 1.25em;
}

#tags {
    color: rgb(68, 0, 114);
    font-size: 1.50em;
}

/*----------------------Header------------------------*/
#header {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    border: white 1px solid;
    box-sizing: border-box; /* Ensures the border is included in the height */
}

.header-content {
    position: absolute; /* Use absolute positioning for centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: black;
    padding: 50px;
    z-index: 2;
}

ul {
    list-style-type: none;
    padding: 0;
}

#header_content {
    background-color: lightgray;
}

/*----------------------Introduction-----------------------*/
#introduction {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    border: white 1px solid;
    box-sizing: border-box;
}

.introduction-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: black;
    z-index: 2;
}

/*----------------------Définition------------------------*/
#definition {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    border: white 1px solid;
    box-sizing: border-box;
}

.definition-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.definition-content {
    text-align: left;
}

.definition-content h2 {
    text-align: center;
}

/*----------------------Histoire------------------------*/
#histoire {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    border: white 1px solid;
    box-sizing: border-box;
}

.histoire-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

#events-timeline {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.event {
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event:hover {
    transform: scale(1.25);
    box-shadow: 0 0px 30px rgba(255, 255, 255, 0.75);
}

/*-------------------Ressources--------------------*/
#ressource {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    border: white 1px solid;
    box-sizing: border-box;
}

.ressource-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: black;
    z-index: 2;
    overflow: visible;
}

#ressources-list {
    display: flex;
    flex-direction: column;
}

.ressource-element {
    width: 100%;
    display: flex;
    text-decoration: none;
    font-style: italic;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: space-around;
    text-align: left;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    transition: 0.5s;
}

.ressource-element:hover {
    background-color: white;
    color: #000000;
    cursor: pointer;
}

.ressource-animation {
  animation: backgroundAndTextFade 4s infinite;
  transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

@keyframes backgroundAndTextFade {
  0% {
    background-color: #000000;  /* fond noir */
    color: #ffffff;             /* texte blanc */
  }
  50% {
    background-color: #ffffff;  /* fond blanc */
    color: #000000;             /* texte noir */
  }
  100% {
    background-color: #000000;  /* retour fond noir */
    color: #ffffff;             /* retour texte blanc */
  }
}